<!DOCTYPE html>
<html>
<head>
	<title>Final Project</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
</head>
<body>
<div class="container-fluid jumbotron">
	<div class="row">
		<div class="jumbotron">
			<h1 class="text-center">Fundamentos de Redes Final Project</h1>
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				</div>
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<h2>Welcome to our Server!</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<span class="glyphicon glyphicon-chevron-right"></span><a href="monitor/consult"><b> Consult System Status Log</b></a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<span class="glyphicon glyphicon-chevron-right"></span><a href="transmission/insert"><b> Add a Magnet Link</b></a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<span class="glyphicon glyphicon-chevron-right"></span><a href="transmission/consult"><b> Consult Magnet Links Status Log</b></a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted text-center">Camilo Ruiz Casanova - Andres Martinez Polanco</p>
	</div>
</footer>
</body>
</html>
