<!DOCTYPE html>
<html>
<head>
	<title>Insert Magnet Link</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Insert Magnet Link</a>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			
			<form action="magnet" method="POST" role="form">
				<div class="form-group">
					<label for="link">Magnet Link</label>
					<input type="text" class="form-control" id="link" name="mlink" placeholder="Input field">
				</div>
				<button type="submit" class="btn btn-primary">Agregar</button>
				
			</form>
			
		</div>
	</div>
</div>
</body>
</html>
